{% extends 'base.html'%}

{% block body %}
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-8 loginbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Registration Completed
            </div>
        </div>
         <div style="padding-top:30px" class="panel-body">
             <span>Thank you for Registering with us, to complete the registration process, kindly check you email for activation link</span>
         </div>

    </div>
</div>

{% endblock %}
